html {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}
body {
  margin: 0;
  font: normal 1.2em / 40px '';
}

label {
  display: block;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 0 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
label:hover {
  background-color: #ddd;
}

.ext-disabled {
  color: #999;
}
.ext-enabled {
}

#ext-filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  line-height: 30px;
  padding-left: .5em;
  box-sizing: bordr-box;
  background-color: #fff;
  font-size: inherit;
}

#ext-list {
  padding-top: 45px;
}
